<% provide(:title, "About") %>
<div class="container about">
  <h1 class="text-center">About</h1>

    <div class="image-frame">
      <%= image_tag("bloggilot_about.jpg", alt: "bloggilot", class: "img-circle img-responsive") %>
      <h3>
        Dream a little dream about a dream you could dream
      </h3>
    </div>
  
    <div class="row">
      <div class="col-sm-6">
        <p>
          Williamsburg hella prism keytar subway tile pour-over +1 raw denim hot chicken try-hard. Mumblecore vegan direct trade asymmetrical, cardigan raclette shabby chic scenester ramps 8-bit cliche cloud bread brunch. Synth glossier wolf poke four loko cardigan blue bottle bitters af photo booth palo santo squid. Direct trade authentic four dollar toast synth ethical taiyaki 90's intelligentsia squid microdosing cronut. Chia tilde viral, cloud bread locavore quinoa occupy chartreuse gentrify knausgaard shaman kombucha. 
        </p>
      </div>
      <div class="col-sm-6">
        <p>
          Deep v flexitarian gochujang craft beer, organic paleo master cleanse taiyaki plaid la croix snackwave fingerstache helvetica man bun small batch. Deep v disrupt retro, taxidermy aesthetic schlitz marfa wayfarers pop-up freegan lumbersexual biodiesel bushwick stumptown taiyaki. Hoodie etsy palo santo YOLO, kogi master cleanse prism heirloom drinking vinegar portland marfa meditation lo-fi cronut. Hashtag direct trade offal flannel af scenester, pitchfork street art shaman pabst biodiesel. 
      </div>
  </div>
</div>