// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */
$grey-extra-light: #f5f5f5;
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body { 
  padding-top: 50px; 
  padding-bottom: 80px;
}

.jumbotron {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.credential {
  margin: 20px auto;
}

.credential img {
  width: 20px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  font-weight: bold;
  letter-spacing: -1px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
 #logo {
  font-weight: bold;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  &:hover {
    color: $gray-dark;
    text-decoration: none;
    }
 }

/* footer */

footer {
  margin-top: 45px;
  padding-top: 15px;
  border-top: 1px solid $gray-medium-light;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $grey-extra-light;
  a {
    color: $gray-light;
    &:hover {
      color: $gray-dark;
      }  
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* articles */

.blog-item {
  min-height: 400px;
}

#btn-show-more {
 margin: 50px auto;
}

.article-show-image {

  margin: 25px auto;
}

.random-item {
  border: 1px solid $gray-medium-light;
  padding: 20px;
  margin: 25px auto;
}

.article-list {
  padding: 15px;
  margin: 25px auto;
  background-color: $grey-extra-light;
}


/* about */

.image-frame {
  img {
    width: 200px;
    margin: 50px auto;
  }
  h3 {
    max-width: 400px;
    padding: 25px;
    margin: 50px auto;
    border-top: 1px solid $gray-medium-light;
    border-bottom: 1px solid $gray-medium-light;
    color: $gray-light;
    text-align: center;
    font-style: italic;
    letter-spacing: 0.1em;
    line-height: 1.4em;
  }
}


/* contact */
.contacts {
  margin-bottom: 50px;
}


.form-control {
  width: 80%;
}

/* miscellaneous */

.debug_dump {
  position: absolute;
  bottom: 50px;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;

}